:root {
    --white-spacing: 20;
    --primary: #2980B9 ;
    --secondary: #212F3D;
    --outline-black: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;  

/*general*/
}
html {
    overflow: hidden;
    background:#566573;
}
/*remove logo*/
.mv-bar.mv-ui {
    background:url("")  0.5em 50%/auto 50% no-repeat;
}

/*divs*/
#box {
    /*postion*/
    position: relative;
    top: calc(var(--white-spacing) * 1px);
    bottom: calc(var(--white-spacing) * 1px);
    left: calc(var(--white-spacing) * 1px);
    right: calc(var(--white-spacing) * 1px);
    /*size*/
    height: calc(50vw - ( 2 * var(--white-spacing) * 0.8px) );
    width:  calc(50vw - ( 2 * var(--white-spacing) * 0.8px) );
    /*attributes*/
    background: var(--primary);
    border: var(--secondary) solid calc(var(--white-spacing) * 0.2px);  
   border-radius: 2em;
}
#box p {
    padding-left: 5%;
    font-size: 2em;;
}
#box .text:first-letter {
font: helvetica small-caps bold 1.5em;
}
#box input {
    /*position*/
    position: relative;
    height: 45%;
    width: calc(90% - var(--white-spacing) * 0.5px);
    border: 2px solid var(--secondary);
    border-radius: 50px;
    /*text*/
    color: var(--secondary);
    font-size: 1.5em;
    padding-left: calc(var(--white-spacing) * 0.5px)
}
