:root {
    --primary-color: #36486b;
    --secondary-color: #618685;
    --tertiar-color: #4040a1;
    --outline-black: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;  
    --one-three: calc(1 / 3);
    --two-three: calc(2 / 3);
}


html {
margin: 0; 
height: 100%; 
overflow: hidden;
width: 100%;
height: 100%;
background: var(--primary-color);
z-index: -10000;
}

/*remove-logo-mavo*/
.mv-bar.mv-ui {
    background:url("")  0.5em 50%/auto 50% no-repeat;
}

#title {
    position: relative;
    width: 100%;
    height: calc(20% - 50px);
    left: 50px;
    top: 50px;
}

#innhold {
    /*position*/
    position: relative;
    left: 22.5%;
    bottom: 20%;
    width: 55%;
    height: 65%;
    /*box*/
    border: dotted 5px #36486b;
    background: #618685;
    border-radius: 2px; 
    overflow: auto;
    /*text*/
    font: helvetica;
    text-align: center; 
    padding-left:20px;
}
#innhold td, th {
    z-index: 10; 
    border: 4px solid #36486b;
}
#innhold caption {
    background: aliceblue;
    color: black;
    border: 4px solid #36486b;
}
#innhold table {
    background-color: rgba(54, 72, 107, 0.80);
    border-collapse: collapse;
    width: 97.5%;
    border-radius: 10px;
    border: 4px solid #36486b;
}
#innhold th {
    color: aliceblue;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000; 
    
}
#innhold td {
    color: rgb(245, 245, 245);
}
	
.tooltip{
    display: inline;
 position: relative;
}

.tooltip:hover:after{
    /*box*/
 background: #333;
 background: rgba(0, 0, 0, 0.50);
 border: 1px solid white;
 border-radius: 5px;
 bottom: 0%;
 left: 120%;
 padding: 5px 15px;
 position: absolute;
 z-index: 98;
 width: 220px;
 /*text*/
 color: #F5F5F5;
 font-size: 75%;
 text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000; 
 content: attr(textcontent);
 font: helvetica;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 100%;
    color: #36486b;
    font: helvetica;
    border: 2px dotted #618685;

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#skjema input{
    position: relative;
height: 2em;
top: -5px;
font: helvetica;
color: #36486b;
}


#innhold table tr td span {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}