#grass {
    background-image: url(https://c1.staticflickr.com/4/3414/3442412829_80cb155b54.jpg);
}
#forest {
    background-image: url(https://i.pinimg.com/474x/6a/d3/6f/6ad36fccf03e673e15e4c57f90696155--background-tile-seamless-background.jpg);
}
#hill {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/00/Silbury_Hill_03.jpg);    
}
#desert {
    background-image: url(http://media.indiedb.com/images/articles/1/175/174696/auto/DesertTile.jpg);
}

.hexagon {
    position: relative;
    width: 60px; 
    height: 34.64px;
    margin: 17.32px 0;
    background-size: auto 66.9726px;
    background-position: center;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
  }
  
  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 42.43px;
    height: 42.43px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 7.79px;
  }
  
  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 58.0000px;
    height: 33.4863156129983px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-16.7432px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-16.7432px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-16.7432px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }
  
  .hexTop {
    top: -21.2132px;
    border-top: solid 1.4142px #000000;
    border-right: solid 1.4142px #000000;
  }
  
  .hexTop:after {
    background-position: center top;
  }
  
  .hexBottom {
    bottom: -21.2132px;
    border-bottom: solid 1.4142px #000000;
    border-left: solid 1.4142px #000000;
  }
  
  .hexBottom:after {
    background-position: center bottom;
  }
  
  .hexagon:after {
    content: "";
    position: absolute;
    top: 0.5774px;
    left: 0;
    width: 58.0000px;
    height: 33.4863px;
    z-index: 2;
    background: inherit;
  }