

/*gi blå farge bokstavene "aaa"*/
div div p:nth-child(1) {
    color: blue;
}
/*gi rød farge bokstavene "bbb"*/
div div p:nth-child(2) {
    color: red;
}
/*gi grønn farge til den første bokstaven i den første <p>; "A"*/
div div p:nth-child(1)::first-letter {
    color: green;
}
/*gi gul farge til den første bokstaven i den andre <p>; "B"*/
div div p:nth-child(2)::first-letter {
    color: yellow;
}