:root {
--background-color: rgb(191, 230, 230);
}

body {
    margin: 0;
    font-family: "Helvetica";
}
#wallpaper {
    position: absolute;
    width: 100%;
    height: 170%;
    background: linear-gradient(to bottom, var(--background-color) 90%, white 100%);
}
#topbar {
    position: fixed;
    width: 100%;
    height: 6%;
    background: linear-gradient(rgb(90, 90, 90), rgb(80, 80, 80));
    border-bottom: solid 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
#main {
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;
    background: linear-gradient(to right, rgba(136, 136, 136, 0.1),rgb(255, 255, 255) 0.5%, rgb(255, 255, 255) 99.5%,rgba(136, 136, 136, 0.1));
    padding-top: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}
#siteline {
    position: absolute;
    top: 100px;
    width: 80%;
    height: 150%;
    left: 10%;
    background: linear-gradient(to right, var(--background-color),rgb(0, 0, 0) 25%, rgb(0, 0, 0) 75%, var(--background-color));
    border-image: linear-gradient(to bottom, rgb(0,0,0), var(--background-color))
}
#wall {
    position: relative;
    width: 99%;
    height: 100%;
    left: 0.5%;
}
#titlebox {
    position: relative;
    font-size: 2em;
    color: white;
    width: 10%;
    height: 100%;
    white-space:nowrap;
}
.center {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: inline-block;
    margin-left: 35px;
}
.center:hover {
    background-color: calc(var(--background-color)-4px);
    border-bottom: solid 2px var(--background-color);
    color: rgb(120, 240, 255);
}
.fitimg {
    width: 23px;
    height: 23px;
}
#undertop {
    
}